.hero-image {
    background-image: url(https://i.postimg.cc/x8SfXGv8/bg-1.jpg);
    height: 800px;
    background-position: center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .formulaire {
    background: linear-gradient(to right, rgb(18, 91, 52), rgb(1, 92, 148));
    max-width: 32%;
    padding: 40px;
    margin-top: -58%;
    margin-bottom: 15%;
    border-radius: 10px;
    .form {
      background-color: rgba(122, 122, 122, 0.848);
      padding: 15px;
      border-radius: 10px;
      padding-bottom: 10%;
      
    }
    button{
        background-color: blue;
        color: white;
        text-transform: uppercase;
        font-style: italic;
        height: 3rem;
        border: none;
        border-radius: 2rem;
    }
  }
  